keymap {
        compatible = "zmk,keymap";

        keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            display-name = "Base";
            
            bindings = <
                &kp Z    &kp M    &kp K
                &kp A    &kp B    &kp C
            >;
        };
    };
    };