#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        macro_command_1: macro {
            label = "Command+1";
            bindings = <
                &macro_press &kp LGUI
                &macro_tap &kp N1
                &macro_release &kp LGUI
            >;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            display-name = "Base";
            bindings = <
                &macro_command_1 &kp B &kp C &kp D
                &kp E &kp F &kp G &kp H
            >;
        };
    };
};