#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


/ {



im 
    macros {
        TOOL1: TOOL1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCMD>
                , <&macro_tap &kp N1>
                , <&macro_release &kp LCMD>
                ;
        };

        TOOL2: TOOL2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCMD>
                , <&macro_tap &kp N2>
                , <&macro_release &kp LCMD>
                ;
        };

        TOOL3: TOOL3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCMD>
                , <&macro_tap &kp N3>
                , <&macro_release &kp LCMD>
                ;
        };

        TOOL4: TOOL4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCMD>
                , <&macro_tap &kp N4>
                , <&macro_release &kp LCMD>
                ;
        };

        TOOL5: TOOL5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCMD>
                , <&macro_tap &kp N5>
                , <&macro_release &kp LCMD>
                ;
        };

        TOOL6: TOOL6 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCMD>
                , <&macro_tap &kp N6>
                , <&macro_release &kp LCMD>
                ;
        };

        TOOL7: TOOL7 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCMD>
                , <&macro_tap &kp N7>
                , <&macro_release &kp LCMD>
                ;
        };

        TOOL8: TOOL8 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCMD>
                , <&macro_tap &kp N8>
                , <&macro_release &kp LCMD>
                ;
        };
    };


    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            display-name = "Base";
// ----------------------------------------------
// |     Z     |     M     |     K     |
// |     A     |     B     |     C     |
            bindings = <
                &mo 1    &TOOL6    &TOOL4    &TOOL2 
                &TOOL7    &TOOL5    &TOOL3    &TOOL1
            >;
        };

        bt_layer { //layer 1
            bindings = <
                &none    &bt BT_SEL 0    &none    &none
                &bt BT_CLR_ALL    &out OUT_TOG    &none    &none
            >;
        };        
    };
};
